body{
  background-color: rgb(255, 209, 229);
  position: absolute;
  left: 50px;
  }

#blog-content{
  width: 900px;
  margin: auto;
  padding: 15px;
  border-top: 10px double gray;
  }

h1{
  color: rgb(96, 96, 96);
  font-family: fantasy;
  position: relative;
  width: 20%;
  z-index: 10;
}

.lovely{
  color: rgb(231, 84, 140);
  font-family: courier new;
  font-size: 40px;
  text-decoration: underline;
}

.dark{
  color: grey;
  font-family: verdana;
  text-decoration: underline;
  }

h2{
  color: rgb(255, 102, 200);
}

#tartaleta {
  position: relative;
  left: 10px;
  top: 20px;
}

#cookie-cake{
  position: relative;
  left: 50px;
  top: 120px;
}

#brownie{
  position: relative;
  left: 36px;
  top: 22px;
}

#cinnamonroll{
  position: relative;
  left: 60px;
  top:22px;
}
  
#Titulos{
  color: rgb(143, 80, 143);
}
.pasos{
  color: rgb(10, 10, 16);
  left: 400px;
  font-family: verdana;
  background: pink;
}